@import 'src/styles/imports.scss';

.map-world {
  //display: none;
  position: absolute;
  z-index: $map-zindex-world;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  .culling-radius {
    @include absoluteCentered();
  }

  .map-world-circle {
    @include absoluteCentered();
    border-radius: 5000px;
    
    border: 2px solid $map-reddish-color;
    background-color: rgba($map-background-color, 0.6);

    .inner-circle-atmo {
      @include absoluteCentered();
      border-radius: 5000px;
      opacity: 0.1;
    }

    .inner-circle {
      @include absoluteCentered();
      border-radius: 5000px;
      
      -webkit-mask: url('/images/patterns/map-planet-pattern.svg') 0 50%/5px 5px;
      mask: url('/images/patterns/map-planet-pattern.svg') repeat 50% 50%;

      &::after {
        border-radius: 2000px;
      }
    }

    .inner-symbol {
      //@include absoluteCentered();
      position: absolute;
      top: -12px;
      left: -12px;

      padding: 5px;
      line-height: 0;
      color: $map-reddish-color;
      background: rgba($map-background-color, 0.7);
      border-radius: 999px;
      font-size: 28px;
    }

    .ring {
      @include absoluteCentered();
      height: 2px;
      border-radius: 90px;
      box-shadow: 0px 5px 9px rgba($map-background-color, 0.8);
    }
  }
}