@import 'src/styles/imports.scss';

.map-field {
  //display: none;
  @include absoluteCentered();
  z-index: $map-zindex-field;

  //animation: opacityThrob 5s linear infinite;
  
  .culling-radius {
    @include absoluteCentered();
  }

  .field-container {
    @include absoluteCentered();
    z-index: $map-zindex-field;
  }

  &.magnetic-storm {
    .field-clipped {
      background-image: radial-gradient( 
        rgba(255, 169, 39, 0.3) 10%, 
        rgba(255, 169, 39, 0.15) 30%, 
        rgba(253, 59, 0, 0.0) 100%);
      background-size: 1700px;
      background-position: 50% 50%;
      //mix-blend-mode: overlay;

      //animation: flashingThunder 5s linear infinite;
    }
  }

  .field-clipped {
    @include absoluteCentered();
    
    background-image: linear-gradient(to bottom, rgb(120, 0, 189), rgb(255, 23, 224));
    background-size: 100px;
    //opacity: 0.4;
    
    -webkit-mask: url('/images/patterns/map-diagonal-pattern.svg') 0 50%/100px 100px;
    mask: url('/images/patterns/map-diagonal-pattern.svg') 0 50%/100px 100px;
  }
  svg {
    @include absoluteCentered();
    path {
      //fill: url('/images/patterns/red-diagonal-pattern.svg');
    }
  }
}

.map-field-text {
  @include absoluteCentered();
  z-index: $map-zindex-label;
  top: 12px;

  &.magnetic-storm {
    .text-under .name {
      color: gray;
    }
  }

}

// $thunderOpacityDefault: 0.5;
// @keyframes opacityThrob {
//   0% {
//     opacity: $thunderOpacityDefault;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: $thunderOpacityDefault;
//   }
// }

// @keyframes flashingThunder {
//   0% {
//     opacity: $thunderOpacityDefault;
//   }
//   20% {
//     opacity: $thunderOpacityDefault;
//   }
//   22% {
//     opacity: 1;
//   }
//   24% {
//     opacity: $thunderOpacityDefault;
//   }
//   26% {
//     opacity: 1;
//   }
//   28% {
//     opacity: $thunderOpacityDefault;
//   }
//   78% {
//     opacity: $thunderOpacityDefault;
//   }
//   80% {
//     opacity: 1;
//   }
//   82% {
//     opacity:  $thunderOpacityDefault;
//   }
//   100% {
//     opacity: $thunderOpacityDefault;
//   }

// }

// @keyframes rotateGradient {
//   0%{background-position:10% 0%}
//   50%{background-position:91% 100%}
//   100%{background-position:10% 0%} 
// }