@import 'src/styles/imports.scss';

.map-location-container {
  position: absolute;
  
  .text-under {
    position: absolute;
    transform: translate(-50%, 0);

    user-select: none;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .name {
    z-index: $map-zindex-label;
    user-select: none;
    pointer-events: none;
    
    font-family: $font-code;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    white-space: nowrap;

    background: rgba($map-background-color, 0.8);
  }
  .type-text {
    z-index: $map-zindex-label;
    user-select: none;
    pointer-events: none;

    text-align: center;
    font-family: $font-code;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 15px 0;

    color: $map-amber-color;
    background: rgba($map-background-color, 0.8);

  }
  .flavor-text {
    z-index: $map-zindex-label;
    user-select: none;
    pointer-events: none;

    width: 400px;
    max-width: 95vw;
    margin: 0;
    padding: 10px 15px;
    border-radius: 6px;

    font-family: $font-body;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    
    text-align: center;
    transition: 0.2s ease-in-out;
    color: $map-amber-color;
    background: rgba($map-background-color, 0.8);

    font-style: italic;
    &::before {
      content: "\"";
    }
    &::after {
      content: "\"";
    }
  }
  
}