// - FOOTER
$breakpoint-footer: $breakpoint-tablet;
.sunset-footer-container {
    margin-top: 100px;
    background: linear-gradient(to bottom, rgba(36, 21, 14, 0) 30%, rgb(36, 21, 14) 100%);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    &.no-gradient {
        margin-top: 0px;
    }
    .sunset-footer-gradient {
        width: calc(100% - 2px);
        max-width: $width-2000;
        //padding: 4px;
        margin: -300px auto 1px auto;
        height: 400px;
        background: linear-gradient(to top, rgba($color-sunset-red, 0.3), rgba($color-ultradark-red, 0));
        border-radius: $chicanery-border-radius;
    }
    .sunset-footer {
        left: 0;
        right: 0;
        position: relative;
        z-index: 200;
        padding: 2px 4px;
        width: 100%;
        max-width: $width-2000;
        margin: 0 auto 4px auto;

        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1.6fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        overflow: hidden;
        @media screen and (max-width: $width-2000) {
            padding-left: 2px;
            padding-right: 2px;
            width: calc(100% - 6px);
        }
        @media screen and (max-width: $breakpoint-footer) {
            display: flex;
            flex-direction: column;
        }
        
        .content-area {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            flex-direction: column;
            .heading {
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 3px;

                background: linear-gradient(to right, #ffaa01, #ff510c);
                border-radius: $chicanery-border-radius;
                @media screen and (max-width: $breakpoint-footer) {
                    padding: 10px;
                }
                .title-area {
                    margin: 0 20px 0 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: $breakpoint-footer) {
                        margin: 0 20px;
                    }
                    h3 {
                        margin: 0;
                        padding: 0;
                        color: $color-background-dark;
                        font-size: 30px;
                        letter-spacing: -1px;
                        white-space: nowrap;
                    }
                    p {
                        color: $color-background-dark;
                        font-family: $font-code;
                        font-weight: 600;
                        margin: -5px 0 0 0;
                        padding: 0;
                        white-space: nowrap;
                    }
                }
                .dot-grid {
                    margin-bottom: -8px;
                    flex: 1;
                }
            }
            .description {
                background: linear-gradient(to right, #ffaa01, #ff510c);
                border-radius: $chicanery-border-radius;
                padding: 20px;
                max-height: 300px;
                overflow-y: auto;
                flex: 1;
                @media screen and (max-width: $breakpoint-footer) {
                    padding: 40px 15px;
                }
                @media screen and (max-width: $breakpoint-mobile) {
                    padding: 25px 15px;
                }
                p {
                    color: $color-background-dark;
                    font-family: $font-body;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                    margin: 15px auto;
                    width: 95%;
                    max-width: 600px;
                    &.strong {
                        font-weight: 700;
                    }
                }
            }
            
        }
        .alt-area {
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            flex-direction: row;

            border: $size-line-width solid $color-sunset-red;
            background: $color-sunset-red;
            border-radius: $chicanery-border-radius;
            margin-left: 3px;
            @media screen and (max-width: $breakpoint-footer) {
                margin-top: 3px;
                margin-left: 0;
            }
            @media screen and (max-width: $breakpoint-mobile) {
                flex-direction: column-reverse;
            }
            .divider {
                height: 2px;
                background-color: $color-sunset-red;
                margin: 10px 0px 15px 0;
            }

            .links-area {
                display: flex;
                flex-direction: row;
                border-radius: $chicanery-border-radius;
                background: $color-background-dark;
                
                flex-basis: 60%;
                padding: 20px;
                gap: 10px;

                @include abg(0.3);
                @include abg-red-dot-grid();
                @media screen and (max-width: $breakpoint-mobile) {
                    flex-basis: 50%;
                    padding: 10px;
                    padding-bottom: 30px;
                }

                .nav-bar {
                    flex-basis: 45%;
                }
                .links-bar {
                    flex-basis: 55%;
                }

                .nav-bar, .links-bar {
                    @include abg-child();
                    max-width: 50%;
                    > h3 {
                        margin: 30px 0 20px 0px;
                        text-align: center;
                        color: $color-sunset-red;
                        font-weight: 700;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        align-items: flex-start;
                        margin: 0;
                        padding: 0;
                        gap: 2px;
                        span.title {
                            @media screen and (max-width: $breakpoint-footer) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .input-area {
                border-radius: $chicanery-border-radius;
                margin-left: 3px;
                background-color: $color-ultradark-red;
                padding: 20px;
                padding: 3px;
                position: relative;
                flex-basis: 40%;
    
                display: flex;
                flex-direction: column;
                @include abg(0.3);
                @include abg-red-diagonal();
                @media screen and (max-width: $breakpoint-mobile) {
                    margin-left: 0;
                    margin-bottom: 2px;
                    flex-basis: 50%;
                    min-height: 400px;
                }
                > h3 {
                    @include abg-child();
                    font-family: $font-title;
                    font-weight: 700;
                    margin: 30px 0 20px 0px;
                    text-align: center;
                    color: $color-sunset-orange;
                    padding: 18px 18px 0 18px;
                }
                .divider {
                    @include abg-child();
                    background-color: $color-sunset-orange;
                    display: none;
                }
                .input-row {
                    @include abg-child();
                    display: flex;
                    flex-direction: row;
                    input {
                        background-color: rgba($color-background-dark, 0.6);
                        flex: 1;
                        margin-right: 10px;
                        border: none;
                        border-bottom: 2px solid red;
                        border-radius: 0;
                    }
                    .sunset-button {
                        height: calc(100% - 4px);
                        .dialog-content {
                            padding: 0 20px;
                        }
                    }
                }

                .email-form {
                    z-index: 5;
                    //background: linear-gradient(to right, #ffaa01, #ff510c);
                    border-radius: 4px;
                    padding: 20px;
                    flex: 1;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    iframe {
                        border: none;
                        height: 100%;
                        max-width: 400px;
                        margin: 0 auto;
                    }

                    .email-form-embed {
                        #mc_embed_signup_scroll {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
                
            }
        }
    }
}