@import 'src/styles/imports.scss';


$map-height: 500px;
$map-width: 800px;

@mixin centeredObject() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.local-map-container {
  border: $color-sunset-red solid 2px; 
  border-radius: 6px;

  position: relative;
  height: 100%;
  left: 0;
  right: 0;

  .local-map-context-menu-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;

    .local-map-dynamic {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      cursor: grab;
      background: $map-background-color;
      border-radius: 6px;
    
      &:hover:active {
        cursor: grabbing;
      }
    
      .local-map-dynamic-content {
        background: $map-background-color;
      }
    
      * {
        user-select: none;
      }
    
      .local-map-bounding-block {
        position: relative;
        height: $map-height;
        width: $map-width;
        top:0; left: 0;
        z-index: $map-zindex-boundingBlock;
        border: 5px green solid; 
      }
    }
  }
}

.poop {
  position: absolute; 
  background-color: red; 
}