@import 'src/styles/imports.scss';

@mixin centeredObject() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .sunset-map-large-glowing-background {
    $largeGlowingBackgroundWidth: 2000px;
    @include centeredObject();
    height: $largeGlowingBackgroundWidth;
    width: $largeGlowingBackgroundWidth;
    z-index: $map-zindex-underlyingOverlay;
    border-radius: 9999px;
    background: radial-gradient(rgb(255, 189, 6) 0%, rgb(131, 21, 7) 30%, black 70%);
    mix-blend-mode: screen;
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
  }

  .sunset-map-glowing-sun {
    @include centeredObject();
    height: 250px;
    width: 250px;
    border-radius: 99999px;
    z-index: $map-zindex-iconOverlay;
    background: radial-gradient(rgb(255, 214, 101) 10%,
        rgb(255, 177, 32) 20%,
        rgba(230, 83, 15, 0.1) 50%,
        rgba(255, 195, 28, 0) 65%);
    mix-blend-mode: screen;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  .sunset-map-grid-container {
    position: absolute;
    z-index: $map-zindex-underlyingOverlay;

    .sunset-map-grid {
      @include abg(0.07);
      //@include abg-red-plus();
      height: 10000px;
      width: 10000px;
      z-index: $map-zindex-underlyingOverlay;
      left: 50%;
      top: 50%;
      position: absolute;
      //transform: translate(-50%, -50%);
      mix-blend-mode: lighten;

      &::after {
        background-image: url('/images/patterns/map-bg-grid-pattern.svg');
        background-size: 4px;
        pointer-events: none;
      }
    }
  }

  .sunset-map-starry-container {
    @include absoluteCentered();
    z-index: $map-zindex-underlyingOverlay;

    .sunset-map-starry-pattern {
      @include absoluteCentered();

      mix-blend-mode: screen;
      opacity: 0.08;
      background-image: url('/images/patterns/1000-dots-1000x1000.svg');
      background-size: 700px;
      background-position: 50% 50%;
    }
  }
