@use 'src/styles/variables' as *;

.header-link-item {
    height: 100%;
    position: relative;
    .header-link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin: 0 2px;
        padding: 0 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid transparent;

        &:hover {
            border: 3px solid $color-light-reddish-orange;
            background: rgba($color-light-reddish-orange, 0.2);
            span {
                color: $color-light-manila;
                &::after {
                    background-color: $color-light-manila;
                }
            }
            .on-hover {
                display: flex;
            }
        }

        span {
            color: $color-light-reddish-orange;
            font-size: 20px;
            font-family: $font-body-condensed;
            font-weight: 600;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0px;
                height: 3px;
                width: 12px;
                border-radius: 2px;
                background-color: $color-light-reddish-orange;
            }
        }

        &.active {
            background: $color-light-reddish-orange;
            span {
                color: black;
                &::after {
                    background-color: black;
                }
            }
        }

        .on-hover {
            display: none;
            position: absolute;
            top: calc(100% + 7px);
            border: 3px solid $color-light-reddish-orange;
            border-bottom-width: 15px;
            background: rgba($color-dark-burnished, 0.9);
            padding: 30px;
            flex-direction: row;
            svg {
                font-size: 30px;
                color: $color-light-reddish-orange;
                &.fa-arrow-right {
                    padding-left: 10px;
                    color: $color-light-manila;
                }
            }
        }
    }
}