@use 'src/styles/variables' as *;

// DIALOG WRAP
$dialog-wrap-border-width: 3px;
$dialog-wrap-distance: 10px;
$dialog-wrap-distance-hover: 4px;

.dialog-wrap {
    position: relative;
    width: calc(100% - $dialog-wrap-distance);

    &.hover:hover {
        .dialog-wrap-slot {
            left: $dialog-wrap-distance-hover;
            top: $dialog-wrap-distance-hover;
        }

        .right {
            width: $dialog-wrap-distance-hover;
        }

        .bottom {
            height: $dialog-wrap-distance-hover;
        }
    }

    .dialog-wrap-slot {
        position: relative;
        border: $dialog-wrap-border-width solid $color-light-reddish-orange;
        left: 0px;
        top: 0px;

        background-color: rgba($color-dark-orange, 0.5);

        .dialog-content {
            padding: 50px;

            h1 {
                text-align: center;
                font-size: 2rem;
                margin: 20px 0 20px 0;
                text-transform: uppercase;
                color: $color-light-normal-orange;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }

    .border {
        position: absolute;
        border: $dialog-wrap-border-width solid $color-light-reddish-orange;

        &.right {
            right: -$dialog-wrap-distance;
            bottom: -$dialog-wrap-distance;
            top: $dialog-wrap-distance;
            width: $dialog-wrap-distance;
            border-left: none;
        }

        &.bottom {
            right: -$dialog-wrap-distance;
            bottom: -$dialog-wrap-distance;
            left: $dialog-wrap-distance;
            height: $dialog-wrap-distance;
            border-top: none;
        }
    }

    &.filled {
        .border {
            background: $color-light-reddish-orange;
        }
    }

    &.light-dark-orange {

        .dialog-wrap-slot,
        .border {
            border-color: $color-light-normal-orange;
        }

        .dialog-wrap-slot {
            background-color: rgba($color-dark-burnished, 0.5);
        }

        .dialog-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        h2 {
            font-family: $font-title;
            color: $color-light-normal-orange;
            font-size: 3.2rem;
            text-align: center;

            margin-bottom: 20px;
            letter-spacing: -0.1rem;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.5rem;
            width: 1000px;
            max-width: 90%;
            padding-bottom: 50px;
        }

        .flavor-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            div {
                font-family: $font-body-condensed;
                font-size: 0.9rem;
                letter-spacing: 0.1rem;
                color: $color-light-normal-orange;
                text-transform: uppercase;
            }
        }
    }
}

.macintosh-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-light-reddish-orange;

    $spaceAroundTitle: 60px;
    .macintosh-header-title {
        text-transform: uppercase;
        margin: 0 $spaceAroundTitle 0 $spaceAroundTitle;

        span {
            font-family: $font-title-condensed;
            font-size: 1.1rem;
            color: $color-light-reddish-orange;
            font-weight: 800;
        }
    }

    .macintosh-header-lines {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 6px;

        .line {
            height: 2px;
            width: 100%;
            border-radius: 2px;
            background: $color-light-reddish-orange;
            margin: 1.5px 0 1.5px 0;
        }
    }

    .macintosh-header-close {
        height: 15px;
        width: 15px;
        border: 3px solid $color-light-reddish-orange;
        margin-right: 6px;

        &:hover {
            background: $color-light-reddish-orange;
            cursor: pointer;
        }
    }
}

.caution-diagonal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: calc(100% + 10px);
    left: -3px;
    right: -3px;
    padding: 5px;

    border: 3px solid $color-light-reddish-orange;
}

.diagonal-lines-container {
    .diagonal-lines {
        display: flex;
        flex-direction: row;
        margin-left: 5px;

        .line {
            transform: rotate(45deg);
            background-color: $color-light-reddish-orange;
            height: 25px;
            width: 3px;
            border-radius: 50px;
            margin-right: 7px;

            &.first {
                height: 10px;
                margin-right: 3px;
                margin-top: 3px;
            }

            &.last {
                height: 10px;
                margin-left: -5px;
                margin-top: 13px;
            }
        }
    }

    .header-title {
        font-family: $font-title-condensed;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;

        span {
            color: $color-light-reddish-orange;
        }
    }
}