@use 'src/styles/variables' as *;

/*
.nav-link {
    list-style: none;
    width: 350px;
    height: 100px;
    margin-bottom: 20px;

    .sunset-button.border-snap {
        .background {
            background-color: rgba($color-light-reddish-orange, 0.2);
        }
    }

    button {
        height: 100%;
        
        .nav-link-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        
            svg {
                padding-right: 10px;
                font-size: 20px;
            }
        
            .text {
                span {
                    font-size: 1rem;
                }
                display: flex;
                flex-direction: column;
                align-items: start;
                text-align: left;
                .strong {
                    text-transform: uppercase;
                    font-weight: 800;
                }
            }
        
            
            
        }
    }
}*/

/*
.btn {
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: stretch;
}

.btn:hover .btn-slide-show-text1 {
    //margin-left: 65px;
}

.btn-shadow-drop {
    position: relative;
    //margin-top: 20px;
    background: transparent;
    //font-size: 0.9em;
    //font-weight: 700;
    //letter-spacing: 5px;
    //text-transform: uppercase;
    transition: all 0.05s ease-in-out 0s;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 100px;
}

.btn-shadow-drop:hover {
    left: 4px;
    top: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    background: rgba($color-light-reddish-orange, 0.3);
}

.btn-shadow-drop--orange {
    border: 3px solid rgb(254, 174, 0);
    color: rgb(254, 174, 0);
    box-shadow: $color-dark-burnished 4px 4px 0px 0px;
}*/

body {
    position: relative;
}
body::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('images/textures/gridbg_lite.png');
    opacity: 1;
    z-index: -100;
    user-select: none;
}

.nav-link {
    list-style: none;
    margin: 10px 0;
    height: 100%;
    max-height: 100px;
    .dialog-wrap {
        height: 100%;
        flex-shrink: 0;
        .dialog-wrap-slot {
            height: calc(100% - $size-line-thickness  - $size-line-thickness);
            background: none;
            .dialog-content {
                padding: 0;
                height: 100%;
            }
        }
        &:hover {
            .nav-link-content::after {
                background-size: 150%;
                
            }
            .nav-link-content::before {
                opacity: 0.8;
            }
            svg {
                color: $color-light-normal-orange;
            }
        }
    }
}

// NAVLINK CONTENT LAYOUT

.nav-link-content {

    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    min-width: 320px;
    height: 100%;
    
    cursor: pointer;

    position: relative;

    .nav-link-pushdown {
        display: flex;
        flex-direction: row;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 2px;
        opacity: 1;
        
        background-size: 100%;
        background-position: 0% 0%;
        z-index: -99;
        transition: 0.1s ease-in-out;
    }

    &.posts::after {
        //background-image: url('/images/posts.png');
    }
    &.game::after {
        //background-image: url('/images/Untitled_Artwork.png');
    }
    &.patreon::after {
        //background-image: url('/images/patreon.jpg');
    }
    &.prints::after {
        //background-image: url('/images/patreon.jpg');
    }
    &.discord::after {
        //background-image: url('/images/patreon.jpg');
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 2px;
        opacity: 0.9;
        //background: black;
        background: linear-gradient(0deg, rgba($color-background-dark,1) 0%, rgba($color-background-dark,0.7) 80%);
        z-index: -98;
        transition: 0.1s ease-in-out;
    }

    .icon {
        //background:rgba($color-light-reddish-orange, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 20px;
        margin: 0 10px 0 20px;
        svg {
            transition: 0.1s ease-in-out;
            color: $color-light-reddish-orange;
            font-size: 24px;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin: 10px 10px 10px 15px;
        user-select: none;
        .title {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 5px;
            color: $color-light-reddish-orange;
            transition: 0.1s ease-in-out;
            svg {
                transition: 0.1s ease-in-out;
                margin-left: 5px;
            }
        }
        .description {
            font-size: 15px;
            font-family: $font-body;
        }
    }
}
