@import 'src/styles/imports.scss';

.map-orbit-ring {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 5000px;
  background: rgba(#ff8d0b, 0.35);

  &.is-detail-level {
    background: rgba($map-reddish-color, 0.2);

  }

  .cover {
    border-radius: 5000px;
    background: rgba($map-background-color, 1);
  }
}