---
import BaseHead from '../../components/BaseHead.astro';
import { TITLE_SUFFIX } from '../../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PageHeading from '@/components/page/PageHeading.component';
import { getAllPosts, getAllSecretPosts } from '@/utils/astroHelpers';
import PostsView from '@/components/posts/PostsView.component';
import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';

const posts = await getAllPosts()
const SUBTEXT = "A collection of every post made for the Sunset System project."

const secretPosts = await getAllSecretPosts()

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Posts"} description={SUBTEXT} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={"/posts"} />
		<main>
			<PostsView 
				title="Posts" 
				subtext={SUBTEXT} 
				processedPosts={posts}
				secretPosts={secretPosts}
				client:only="react" 
			/>
		</main>
		<SunsetFooter 
			client:only 
			currentPage={"/posts"} 
			noGradient 
		/>

		<ScriptsAfterBody />
	</body>
</html>
