---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PostsView, { PostType, ProcessedPost } from '@/components/posts/PostGrid.component';
import PageHeading from '@/components/page/PageHeading.component';
import { getAllPosts } from '@/utils/astroHelpers';

const posts = await getAllPosts()

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Posts" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PageHeading title="Posts" subtext={"A collection of every post made for Sunset System."} image='computer-blinking' isSpooky><></></PageHeading>
			<PostsView client:only
				processedPosts={posts}
			/>
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>