---
import BaseHead from '../../components/BaseHead.astro';
import { TITLE_SUFFIX } from '../../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PostsView, { PostType, ProcessedPost } from '@/components/posts/PostGrid.component';
import PageHeading from '@/components/page/PageHeading.component';
import { getAllPosts } from '@/utils/astroHelpers';

const posts = await getAllPosts()
const SUBTEXT = "A collection of every post made for the Sunset System project."
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Posts"} description={SUBTEXT} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={"/posts"} />
		<main>
			<PageHeading title="Posts" subtext={SUBTEXT} image='computer-blinking' isSpooky><></></PageHeading>
			<PostsView client:only
				processedPosts={posts}
			/>
		</main>
		<SunsetFooter client:only currentPage={"/posts"} />
	</body>
</html>