// COLORS
$color-light-normal-orange: #ffaa01;
$color-light-reddish-orange: #ff3d00;
$color-light-manila: #ffe9d3;

$color-dark-orange: #391704;
$color-dark-burnished: #461709;

$color-background-dark: #180e09;

// FONTS
$font-title: 'Saira', sans-serif;
$font-title-condensed: 'Saira Semi Condensed', sans-serif;
$font-body: 'Barlow', sans-serif;
$font-body-condensed: 'Barlow Semi Condensed', sans-serif;

// SIZE
$size-line-thickness: 2px;