@use 'src/styles/variables' as *;

.sunset-main-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 800px;

    .main-intro-area {
        display: flex;
        flex-direction: row;

        max-width: 1200px;
        padding: 50px 50px;

        .side-portal {
            margin-right: 20px;
            ul {
                padding: 0;
                margin: 0;
            }
        }
    
        .nav-link {
            button {
                border: none;
                background: none;
            }
        }
    }

    
}