@import 'src/styles/imports.scss';

.base-map-container {
  border: $color-sunset-red solid 2px; 
  border-radius: 6px;

  position: relative;
  height: 100%;
  left: 0;
  right: 0;

  @media screen and (max-width: $breakpoint-mobile) {
    border: none;
  }

  .base-map-context-menu-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      // Box shadow is bad performance ;(
      //box-shadow: 0px 0px 80px 10px rgba(0,0,0,0.5) inset;
      pointer-events: none;

      @media screen and (max-width: $breakpoint-mobile) {
        //box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.4) inset;
        box-shadow: none;
      }
    }

    .ruler {
      position: absolute;
      z-index: $map-zindex-ruler;
      left: 2px;
      right: 2px;
      height: 12px;

      overflow: hidden;

      
      .ruler-pattern {
        position: absolute;
        left: -50%;
        top: -2px;
        height: 100%;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-mobile) {
          top: 0px;
        }

        .ruler-border {
          width: 100%;
          height: 2px;
          background: $map-reddish-color;
        }
        .ruler-blocks {
          display: flex;
          flex-direction: row;
          height: 100%;
          .ruler-block {
            height: 100%;
            display: flex;
            flex-direction: row;
            .ruler-block-width {}
            .ruler-block-marker {
              height: 50%;
              width: 2px;
  
              background: $map-reddish-color;
            }
  
            &:nth-child(10n) {
              .ruler-block-marker {
                height: 100%;
              }
            }
          }
        }

      }
    }

    .floating-code-text {
      span {
        position: absolute;
        color: $map-reddish-color;
        background: rgba($map-background-color, 0.8);
        font-family: $font-code;
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        z-index: $map-zindex-ruler;
      }

      $distanceFromEdge: 16px;
      .scale {
        top: $distanceFromEdge;
        left: $distanceFromEdge;
      }
      .center-coords {
        top: $distanceFromEdge;
        right: $distanceFromEdge;
      }
    }

    .floating-button {
      position: absolute;
      bottom: 10px;
      
      z-index: $map-zindex-selectionButton;
      //height: 60px;
      //padding: 10px;
      border: 2px solid $map-reddish-color;
      background-color: black;
      .dialog-content {
        padding: 20px;
      }
      
      p {
        display: block;
        //padding: 20px;
      }

      &.reset {
        //width: 60px;
        right: 10px;
      }
      &.selection {
        left: 5px;
      }
    }

    .base-transform-wrapper {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      cursor: grab;
      background: $map-background-color;
      border-radius: 6px;
    
      &:hover:active {
        cursor: grabbing;
      }
    
      &::before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index:99999;
        background: radial-gradient(rgba($map-reddish-color,1) 1%, rgba($map-reddish-color, 0) 100%);
        opacity: 0.3;
        pointer-events: none;
        display: none;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        mix-blend-mode: overlay;
        background: linear-gradient(to bottom, $map-amber-color 20%, $map-reddish-color 100%);
        opacity: 0.4;
        pointer-events: none;
        
      }
    
      .base-transform-content {
        background: $map-background-color;
        //will-change: transform;

        .bounding-block {
          position: relative;
          top: 0; left: 0; right: 0; bottom: 0;
          z-index: $map-zindex-boundingBlock;
        }

        * {
          user-select: none;
        }
      }
    }
  }

  &.system {
    .bounding-block {
      height: 2000px;
      width: 3200px;
      //border: 4px solid red !important;
    }
  }
  &.titan {
    .bounding-block {
      height: 600px;
      width: 800px;
      border: 4px solid green !important;
    }
  }
}