@import 'src/styles/imports.scss';

.base-map-container {
  border: $color-sunset-red solid 2px; 
  border-radius: 6px;

  position: relative;
  height: 100%;
  left: 0;
  right: 0;

  @media screen and (max-width: $breakpoint-mobile) {
    border: none;
  }

  .base-map-context-menu-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      // Box shadow is bad performance ;(
      //box-shadow: 0px 0px 80px 10px rgba(0,0,0,0.5) inset;
      pointer-events: none;

      @media screen and (max-width: $breakpoint-mobile) {
        //box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.4) inset;
        box-shadow: none;
      }
    }

    .ruler {
      position: absolute;
      z-index: $map-zindex-ruler;
      left: 2px;
      right: 2px;
      height: 12px;

      overflow: hidden;

      
      .ruler-pattern {
        position: absolute;
        left: -50%;
        top: -2px;
        height: 100%;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-mobile) {
          top: 0px;
        }

        .ruler-border {
          width: 100%;
          height: 2px;
          background: $map-reddish-color;
        }
        .ruler-blocks {
          display: flex;
          flex-direction: row;
          height: 100%;
          .ruler-block {
            height: 100%;
            display: flex;
            flex-direction: row;
            .ruler-block-marker {
              height: 50%;
              width: 2px;
  
              background: $map-reddish-color;
            }
  
            &:nth-child(10n) {
              .ruler-block-marker {
                height: 100%;
              }
            }
          }
        }

      }
    }

    .floating-code-text {
      span {
        position: absolute;
        color: $map-reddish-color;
        background: rgba($map-background-color, 0.8);
        font-family: $font-code;
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        z-index: $map-zindex-ruler;
      }

      $distanceFromEdge: 16px;
      .scale {
        top: $distanceFromEdge;
        left: $distanceFromEdge;
      }
      .center-coords {
        top: $distanceFromEdge;
        right: $distanceFromEdge;
      }
    }

    .floating-title-container {
      //display: none;
      position: absolute;
      bottom: 50px;
      left: 10px;
      z-index: $map-zindex-ruler;
      pointer-events: none;
      user-select: none;
      text-transform: uppercase;
      background: rgba($map-background-color, 0.8);
      padding: 10px 30px 10px 10px;

      @media screen and (max-width: $breakpoint-mobile) {
        bottom: auto;
        top: 50px;
      }
      
      p {
        color: $map-reddish-color;
        font-family: $font-code;
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        @media screen and (max-width: $breakpoint-mobile) {
          font-size: 10px;
        }
      }
      h1 {
        color: $map-reddish-color;
        font-family: $font-code;
        margin: 0;
        font-weight: 500;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: $breakpoint-mobile) {
          font-size: 20px;
        }
        svg {
          animation: rotateCounterClockwise 5s linear infinite;
          margin-right: 10px;
        }
      }
    }

    .base-transform-wrapper {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      cursor: grab;
      background: $map-background-color;
      border-radius: 6px;
    
      &:hover:active {
        cursor: grabbing;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        mix-blend-mode: overlay;
        background: linear-gradient(to bottom, $map-amber-color 20%, $map-reddish-color 100%);
        opacity: 0.4;
        pointer-events: none;
        display: none;
      }
    
      .base-transform-content {
        background: $map-background-color;

        .bounding-block {
          position: relative;
          top: 0; left: 0; right: 0; bottom: 0;
          z-index: $map-zindex-boundingBlock;
        }

        * {
          user-select: none;
        }
      }
    }
  }

  &.system {
    .bounding-block {
      height: 2000px;
      width: 3200px;
    }
  }
  &.titan {
    .bounding-block {
      height: 600px;
      width: 800px;
      border: 4px solid green !important;
    }
  }
}

.bottom-controls {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 8px;

  width: 500px;
  max-width: 95%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  .map-control-button {
    padding: 10px;
    
    z-index: $map-zindex-selectionButton;
    border: 2px solid $map-reddish-color;
    background-color: rgba($map-background-color, 0.8);
    
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $breakpoint-mobile) {
      &:hover {
        border-color: $map-amber-color;
        p, svg {
          color: $map-amber-color !important;
        }
      }
    }
    

    .icon-top svg {
      color: $map-reddish-color;
      font-size: 20px;
    }
    p.text-bottom {
      font-family: $font-code;
      text-transform: uppercase;
      font-size: 12px;
      color: $map-reddish-color;
      text-align: center;
      margin: 0;
      line-height: 12px;
      white-space: nowrap;
    }

    &.is-wide {
      svg {
        margin-bottom: -5px;
        margin-right: 5px;
      }
    }

    &.open-local-map {
      grid-area: 1 / 2 / 2 / 3;
      //border-top: none;
      flex-direction: row;
    }
    &.about-map {
      grid-area: 2 / 1 / 3 / 2;
      //border-left: none;
    }
    &.open-details {
      grid-area: 2 / 2 / 3 / 3;
      flex-direction: row;
    }
    &.reset-view {
      grid-area: 2 / 3 / 3 / 4;
      //border-right: none;
    }

  }
  
  .open-details-none {
    z-index: $map-zindex-selectionButton;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 12px;
      margin: 0;
      padding: 12px 0px;
      width: 95%;
      //height: 80%;
      text-align: center;
      font-family: $font-code;
      color: $map-reddish-color;
      background: rgba($map-background-color, 0.8);
      user-select: none;
      pointer-events: none;
    }
  }

  
}