// SIZE
$width-800: 800px;
$width-1000: 1000px;
$width-1400: 1400px;
$width-2000: 2000px;

$breakpoint-mobile: 900px;
$breakpoint-tablet: 1200px;

$size-line-width: 2px;

// Otherwise known as rounded mode
$chicanery-mode: true;
$chicanery-border-radius: 6px;