// COLORS
// Basic colors used across website, for consistency.

$color-sunset-manila: #ffe9d3;
$color-sunset-yellow: #ffda35;
$color-sunset-orange: #ffae0b;
$color-sunset-red: #ff4e18;
$color-sunset-aqua: #46ffff;
$color-sunset-melancholic: #0ec7ff;

$color-ultradark-red: #461709;
$color-background-dark: #24150e;

$color-retro-dreams: $color-sunset-red;
$color-core-mystery: #2a94ea;
$color-post-mankind: #ff0ec3;

$color-spooky: #cf0eff;
$color-spooky-light: lighten($color-spooky, 16%);
$color-spooky-secondary: #ff4ac3;

$color-patreon: #0effaf;

// MAP
$map-amber-color: $color-sunset-orange;//#ffb64e;
$map-reddish-color: $color-sunset-red;//#ff4111;
$map-background-color: #220a06;

// site colors
$colorWorldHumanEra: $map-reddish-color;
$colorWorldAnomaly: #fc43b5;
$colorWorldMachineEra: $color-sunset-aqua;
$colorWorldMachinesOfGlass: #93e725;
$colorWorldCenturyOfProgress: #fff67e;