// FONTS
// - TITLE FONT
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@600;700;800;900&display=swap');

// - BODY FONT
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// - 'CODE' FONT
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600;700&display=swap');

$font-title: 'Saira', sans-serif;
$font-title-condensed: 'Saira Semi Condensed', sans-serif;
$font-body: 'DM Sans', sans-serif;
$font-code: 'Chivo Mono', sans-serif;