---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PageHeading from '@/components/page/PageHeading.component';

import { Content } from '@/data/supporters-content.mdx';
import * as post from '@/data/supporters-content.mdx';
import MarkdownWrapper from '@/layouts/MarkdownWrapper.astro';
import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={post.frontmatter.title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={"/credits"} />
		<main>
			<PageHeading title={post.frontmatter.title} subtext={post.frontmatter.description}><></></PageHeading>
			<MarkdownWrapper>
            	<Content />
			</MarkdownWrapper>
		</main>
		<SunsetFooter client:only currentPage={"/credits"} />
		
		<ScriptsAfterBody />
	</body>
</html>
