---
export const prerender = true

import BaseHead from "../components/BaseHead.astro";
import HomeBanner from "../components/home/HomeBanner/HomeBanner.component";
import IntroSection from "../components/home/IntroSection/IntroSection.component";
import ScrollSuggestion from "../components/home/ScrollSuggestion/ScrollSuggestion.component";
import SunsetFooter from "@/components/layout/Footer/SunsetFooter.component";
import SunsetHeader from "@/components/layout/Header/SunsetHeader.component";
import { SITE_TITLE, SITE_DESCRIPTION, TITLE_SUFFIX } from "../consts";
import Image, { getImage } from "@astrojs/image";
import MarkdownWrapper from '@/layouts/MarkdownWrapper.astro';


import { Content as HomePageUniserve } from '@/data/home-page/home-page-uniserve.mdx';
import { Content as HomePageSummary } from '@/data/home-page/home-page-summary.mdx';
import HomeHub from "@/components/home/HomeHub.component";
import TransitionGradient from "@/components/home/TransitionGradient.component";
import { GetImageTransform } from "@astrojs/image/dist/lib/get-image";
import PostCard from "@/components/posts/PostCard.component";
import { getProcessedPost } from "@/utils/astroHelpers";
import PostCardContentRow from "@/components/common/ContentRow/PostCardContentRow.component";
import ScriptsAfterBody from "@/components/ScriptsAfterBody.astro";

// Switch to "true" to load images faster, as they aren't being compressed.
const DEBUGGING = false
const nextPost = await getProcessedPost('world-of-retrofuturistic-dreams', 'introduction')
const DEFAULT_WIDTH = 2300;

const imageSources = [
  {
    id: "lazarus",
    alt: "",
    src: "/images/home-banner/lazarus-cropped.png",
    aspectRatio: "3688:2294",
    width: DEFAULT_WIDTH,
    format: "webp"
  },
  {
    id: "hero-bg",
    alt: "",
    src: "/images/home-banner/banner-hero-overlay.png",
    aspectRatio: "5119:2387",
    width: DEFAULT_WIDTH,
    format: "webp"
  },
  {
    id: "shroomy",
    alt: "",
    src: "/images/home-banner/shroomy-cropped.png",
    aspectRatio: "3688:2294",
    width: DEFAULT_WIDTH,
    format: "webp"
  },
  {
    id: "marvin",
    alt: "",
    src: "/images/home-banner/marvin-cropped.png",
    aspectRatio: "3500:2146",
    width: DEFAULT_WIDTH + 500,
    format: "webp",
    quality: 98
  },
  {
    id: "fg-bottom",
    alt: "",
    src: "/images/home-banner/banner-foreground-computers.png",
    aspectRatio: "3500:2146",
    width: DEFAULT_WIDTH + 500,
    format: "webp",
    quality: 98
  },
  {
    id: "noise",
    alt: "",
    src: "/images/noise.png",
    aspectRatio: "3500:2146",
    width: DEFAULT_WIDTH,
    format: "png"
  },
]

const compiledImageSources = await Promise.all(imageSources.map(async (imageSource) => {
    return {
      id: imageSource.id,
      img: await getImage(imageSource as GetImageTransform)
    }
  }
))

const getImageSrcById = (id) => {
  if (DEBUGGING) {
    return imageSources.find((obj) => obj.id === id)?.src || ""
  }
  return compiledImageSources.find((obj) => obj.id === id)?.img.src || ""
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"Home"} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SunsetHeader client:only currentPage={Astro.url.pathname} />
    <main>
      <HomeBanner 
        lazarusImageSrc={getImageSrcById("lazarus")}
        heroBgSrc={getImageSrcById("hero-bg")}
        shroomyImageSrc={getImageSrcById("shroomy")}
        marvinImageSrc={getImageSrcById("marvin")}
        fgBottomImageSrc={getImageSrcById("fg-bottom")}
        noiseSrc={"/images/noise.webp"}

        client:only />
      <ScrollSuggestion />
      <TransitionGradient 
        direction="to-top" 
      />
      
      <MarkdownWrapper>
        <HomePageSummary />
      </MarkdownWrapper>
      
      <TransitionGradient 
        direction="to-bottom" 
        floaterTextLeft="mrdci secure facility"
        floaterTextRight="::112999::BROKENDATA"
      />
      <!--<IntroSection client:only />-->
      <HomeHub />
      <!--<img src="/images/Hero_Background.png" width={2000}/>-->
      <TransitionGradient 
        direction="to-top" 
        id="top-of-uniserve-intro" 
        floaterTextLeft="pan sol commprotocol A9:114"
        floaterTextRight="consensus_of_all.dat"
        classes="spooky-right"
      />
      <MarkdownWrapper>
        <HomePageUniserve />
      </MarkdownWrapper>
      <PostCardContentRow processedPosts={[
        nextPost
      ]} />
    </main>
    <SunsetFooter client:only currentPage={Astro.url.pathname} />

    <ScriptsAfterBody />
  </body>
</html>