---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';
import MapScreen from '@/components/special/MapScreen/MapScreen';

import { Content as MapIntro } from '@/data/map/map-intro.mdx';
import MarkdownWrapper from '@/layouts/MarkdownWrapper.astro';
import MapContent from '@/components/special/MapScreen/MapContent';

const items = await Astro.glob('../data/map/locations/*.{md,mdx}')
const itemKeys = items.map((item) => item.frontmatter.id)

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Map"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only="react" currentPage={"/map"} />
		<main>
			<MapScreen client:only="react">

        <div class="location-content-items" slot="locationContent">
          {items.map((item, i) => 
            <div class="location-content-item hidden-content" id={"content-" + item.frontmatter.id} data-map-content>
              <MarkdownWrapper >
                <item.Content />
              </MarkdownWrapper>
            </div>
          )}
        </div>

        <MarkdownWrapper slot="mapIntro">
          <MapIntro />
        </MarkdownWrapper>

      </MapScreen>
		</main>
		<ScriptsAfterBody />
	</body>
</html>
