---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';
import MapScreen from '@/components/special/MapScreen/MapScreen';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Map"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only="react" currentPage={"/map"} />
		<main>
			<MapScreen client:only="react" />
		</main>
		
		<ScriptsAfterBody />
	</body>
</html>
