---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PageHeading from '@/components/page/PageHeading.component';

import { Content } from '@/data/supporters-content.mdx';
import * as post from '@/data/supporters-content.mdx';
import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';
import SystemMap from '@/components/special/SystemMap/SystemMap';
import SystemMapReact from '@/components/special/SystemMap/SystemMapReact';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Map"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only="react" currentPage={"/map"} />
		<main>
			<SystemMapReact client:only="react" />
		</main>
		
		<ScriptsAfterBody />
	</body>
</html>
