---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';

import ScriptsAfterBody from '@/components/ScriptsAfterBody.astro';
import SystemMapD3 from '@/components/special/SystemMap/_old/SystemMapD3';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Map"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only="react" currentPage={"/map"} />
		<main>
			<SystemMapD3 client:only="react" />
		</main>
		
		<ScriptsAfterBody />
	</body>
</html>
