@import 'src/styles/imports.scss';

text {
    /*fill: #fff;*/
  }
  
  #sun {
  }
  
  .orbit {
    stroke: #333;
    fill: transparent;
  }
  
  .orbit-asteroid-belt {
    stroke: #222;
    fill: transparent;
  }
  
  .planet {
  }
  
  .moon {
  }