@import 'src/styles/imports.scss';

text {
  /*fill: #fff;*/
}

.sunset-map-container {
  
}

$defaultColor: #ffb64e;
$map-reddish-color: #ff4111;
$map-background-color: #1a110c;

.sunset-map-div {
  width: 95%;
  margin: 0 auto;
  background: $map-background-color;

  display: flex;
  justify-content: center;

  width: 100%;
  //height: 100%;
  max-width: 2000px;
  position: absolute;
  top: 86px; bottom: 10px; left: 0; right: 0;

  svg {
    //width: 1850px;
    //max-width: 100%;
    border: $color-sunset-red solid 2px; 
    border-radius: 6px;
    //height: 90vh;

    height: 100%;
    width: 100%;

    * {
      user-select: none;
    }
    
    @media screen and (max-width: $breakpoint-mobile) {
      height: 80vh; 
    }

    // ZOOM LEVEL HANDLERS
    .zoom-level-2 {
      transition: opacity 0.3s ease-in-out;
    }

    &[data-zoom-level="1"] {
      .zoom-level-2 {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
    }
    &[data-zoom-level="2"] {
      .zoom-level-2 {
        opacity: 1;
      }
    }

    .huge-sun-overlay {
      opacity:0.2;
    }
    .sun-heat-overlay {
      opacity: 0.1;
    }

    .orbit {
      stroke: $defaultColor;
      fill: transparent;
      opacity: 0.2;
    }

    .name {
      font-family: $font-code;
      font-weight: 500;
      
      text-transform: uppercase;
      letter-spacing: 1px;
      //fill: #85190b;
    }
    
  }
}

@mixin centeredObject() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls-test {
  position: absolute;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
  left: 10px;
  top: 10px;
  height: 100px;
  width: 600px;
}
.sunset-map-dynamic {
  width: 97%;
  height: 85vh;
  max-width: 2000px;
  margin: 0 auto;
  border: $color-sunset-red solid 2px; 
  border-radius: 6px;

  position: absolute;
  top: 86px; bottom: 0px; left: 0; right: 0;
  @media screen and (max-width: $breakpoint-mobile) {
    top: 64px;
  }
  overflow: hidden;

  background: $map-background-color;

  * {
    user-select: none;
    //pointer-events: none;
  }



  .sunset-map-bounding-block {
    position: relative;
    height: 2100px;
    width: 3200px;
    //background: rgba(green, 0.2);
    z-index: 999;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  .sunset-map-large-glowing-background {
    $largeGlowingBackgroundWidth: 2000px;
    @include centeredObject();
    height: $largeGlowingBackgroundWidth;
    width: $largeGlowingBackgroundWidth;
    z-index: 280;
    border-radius: 99999px;
    background: radial-gradient(rgb(255, 189, 6) 0%, rgb(131, 21, 7) 30%, black 70%);
    mix-blend-mode: screen;
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
  }
  .sunset-map-glowing-sun {
    @include centeredObject();
    height: 250px;
    width: 250px;
    border-radius: 99999px;
    z-index: 600;
    background: radial-gradient(rgb(255, 214, 101) 10%, 
      rgb(255, 177, 32) 20%, 
      rgba(230, 83, 15, 0.1) 50%, 
      rgba(255, 195, 28, 0) 65%);
    mix-blend-mode: screen;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  .map-location-container {
    position: absolute;
    
    .map-orbit-ring {
      position: absolute;
      transform: translate(-50%, -50%);
      
      //border-width: 2px;
      border-style: solid;
      border-color: rgba(#ffb64e, 0.2);
      border-radius: 5000px;
      background: rgba($map-background-color, 0.95);
    }

    .map-asteroid-belt-container {
      position: absolute;
      transform: translate(-50%, -50%);
      .map-asteroid-belt {
        width: 100%;
        height: 100%;
        position: absolute;

        background: url("/images/patterns/map-asteroid-belt-pattern.svg");
        background-size: 80px;
        opacity: 0.4;

        border-radius: 5000px;
        animation: spin 160s linear infinite;
        will-change: contents;
        box-sizing: border-box;
        .map-asteroid-belt-cover {
          position: absolute;
          top: 60px; left: 60px; right: 60px; bottom: 60px;
          border-radius: 5000px;
          background: $map-background-color;
        }
      }
    }
    
    .map-singular-location {
      &:hover {
        border: 2px solid white;
      }
    }
    .map-world {
      position: absolute;
      z-index: 500;
      transform: translate(-50%, -50%);
      //transition: 0.1s;
      .map-world-circle {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 5000px;
        background: white;
      }
      .name {
        font-size: 14px;
      }
    }
    .map-site {
      position: absolute;
      z-index: 600;
      transform: translate(-50%, -50%);
      .map-site-circle {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 5000px;
        height: 3px;
        width: 3px;
        background: white;
      }
      .name {
        color: white;
        font-size: 14px;
      }
    }
    .text-under {
      user-select: none;
      pointer-events: none;
      position: absolute;
      display: block;
      transform: translate(-50%, 0);
    }

    .name {
      user-select: none;
      pointer-events: none;
      z-index: 600;
      font-family: $font-code;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      margin: 0;
      white-space: nowrap;
    }
    .flavor-text {
      user-select: none;
      pointer-events: none;
      font-family: $font-code;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      width: 500px;
      text-align: center;
      transition: 0.2s ease-in-out;
      &::before, &::after {
        content: "\"";
      }
    }
    
  }
  
  .map-location-container {
    position: absolute;
    
  }
}

.spin {
  animation: spin 160s linear infinite;
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

