@import 'src/styles/imports.scss';


$map-height: 2100px;
$map-width: 3200px;

@mixin centeredObject() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls-test {
  position: fixed;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
  bottom: 10px;
  left: 0;
  right: 0;
}
.noise-rectangle {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  display: none;
}
.sunset-map-container {
  width: 97%;
  height: 85vh;
  max-width: 2000px;
  margin: 0 auto;
  border: $color-sunset-red solid 2px; 
  border-radius: 6px;

  position: absolute;
  top: 86px; bottom: 0px; left: 0; right: 0;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-mobile) {
    top: 64px;
  }
  .system-map-context-menu-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;

    .sunset-map-dynamic {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      //left: -50%; top: -50%;
      height: 100%;
      width: 100%;
      cursor: grab;
      background: $map-background-color;
    
      &:hover:active {
        cursor: grabbing;
      }
    
      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        mix-blend-mode: overlay;
        background: linear-gradient(to bottom, $map-amber-color 20%, $map-reddish-color 100%);
        opacity: 0.4;
        pointer-events: none;
      }
      
    
      .sunset-map-dynamic-content {
        background: $map-background-color;
      }
    
      * {
        user-select: none;
      }
    
      .sunset-map-bounding-block {
    
        position: relative;
        height: $map-height;
        width: $map-width;
        top:0; left: 0;
        //top: -50%; left: -50%;
        z-index: 10000;
        //overflow: hidden;
        //user-select: none;
        pointer-events: none;

        //background: rgba(green, 0.5);
        //border: 4px solid blue;
      }
    
      .sunset-map-large-glowing-background {
        $largeGlowingBackgroundWidth: 2000px;
        @include centeredObject();
        height: $largeGlowingBackgroundWidth;
        width: $largeGlowingBackgroundWidth;
        z-index: 280;
        border-radius: 9999px;
        background: radial-gradient(rgb(255, 189, 6) 0%, rgb(131, 21, 7) 30%, black 70%);
        mix-blend-mode: screen;
        opacity: 0.2;
        user-select: none;
        pointer-events: none;
      }
    
      .sunset-map-large-outer-fade-background {
        display: none;
        $largeGlowingBackgroundWidth: 3000px;
        @include centeredObject();
        height: 2100px;
        width: 3200px;
        padding: 400px;
        z-index: 900;
        mix-blend-mode: hard-light;
        opacity:0.1;
        //background: radial-gradient(rgb(0,0,0) 0%, rgb(214, 76, 168) 70%, rgb(88, 3, 74) 100%);
        //background: radial-gradient(rgb(255, 235, 59) 0%, rgb(255, 123, 47) 60%, rgb(117, 29, 2) 100%);
        pointer-events: none;
      }
    
      .sunset-map-glowing-sun {
        @include centeredObject();
        height: 250px;
        width: 250px;
        border-radius: 99999px;
        z-index: 600;
        background: radial-gradient(rgb(255, 214, 101) 10%, 
          rgb(255, 177, 32) 20%, 
          rgba(230, 83, 15, 0.1) 50%, 
          rgba(255, 195, 28, 0) 65%);
        mix-blend-mode: screen;
        opacity: 0.5;
        user-select: none;
        pointer-events: none;
      }
    
      .sunset-map-grid-container {
        position: absolute;
        z-index: 260;
        .sunset-map-grid {
          @include abg(0.07);
          //@include abg-red-plus();
          height: 10000px;
          width: 10000px;
          z-index: 260;
          left: 50%;
          top: 50%;
          position: absolute;
          //transform: translate(-50%, -50%);
          mix-blend-mode: lighten;
          &::after {
            background-image: url('/images/patterns/map-bg-grid-pattern.svg');
            background-size: 4px;
            pointer-events: none;
          }
        }
      }
      .sunset-map-starry-container { 
        @include absoluteCentered();
        z-index: 250;
          .sunset-map-starry-pattern {
            @include absoluteCentered();
            height: calc($map-height + 200px);
            width: calc($map-width + 200px);
    
            mix-blend-mode: screen;
            opacity: 0.08;
            background-image: url('/images/patterns/1000-dots-1000x1000.svg');
            background-size: 700px;
            background-position: 50% 50%;
          }
      }
    }
  }
}


.spin {
  animation: spin 160s steps(160, step-end) infinite;
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}