@import 'src/styles/imports.scss';

@mixin centeredObject() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.local-map {
  .poop {
    position: absolute;
    background-color: red; 
  }
}

.center {
  position: relative; 
  @include centeredObject; 
  width: 0px; 
  height: 0px; 
  background-color: blue; 
}

