@import 'src/styles/imports.scss';

.map-world {
  position: absolute;
  z-index: 500;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  .culling-radius {
    @include absoluteCentered();
  }

  .map-world-circle {
    @include absoluteCentered();
    border-radius: 5000px;
    
    border: 2px solid $map-reddish-color;
    background-color: rgba($map-background-color, 0.6);
    .inner-sun-border {
      @include absoluteCentered();
      border-radius: 5000px;
      border: 2px dotted;
      
    }
    .inner-circle {
      @include absoluteCentered();
      border-radius: 5000px;
      //height: 100%; width: 100%;

      //@include abg(1);
      //@include abg-red-diagonal();

      //background-color: yellow;
      //mask-image: url('/images/patterns/red-diagonal-pattern.svg');
      
      -webkit-mask: url('/images/patterns/map-planet-pattern.svg') 0 50%/5px 5px;
      mask: url('/images/patterns/map-planet-pattern.svg') repeat 50% 50%;

      &::after {
        border-radius: 5000px;
      }
    }
  }
  .name {
    font-size: 14px;
    background: rgba($map-background-color, 0.8);
  }
}