@import 'src/styles/imports.scss';

.map-site {
  position: absolute;
  z-index: 600;
  transform: translate(-50%, -50%);
  .map-site-circle {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5000px;

    $dimensions: 5px;
    height: $dimensions;
    width: $dimensions;

    opacity: 1;
    background: white;
  }
  .name {
    position: absolute;
    transform: translate(-50%, -50%);

    color: $map-amber-color;
    font-size: 18px;
  }
}