@import 'src/styles/imports.scss';

.map-location-container {
  position: absolute;
  //height: 1px; width: 1px;
  //border: 20px solid red;
  
  .map-singular-location {
    &:hover {
      border: 2px solid $map-amber-color;
    }
  }

  .selection-button-container {
    position: absolute;
    z-index: 700;
    .selection-button {
      position: absolute;
      transform: translate(-50%, -50%) scale(0.8);
      border-radius: 5000px;
      z-index: 700;
      background: rgba($map-reddish-color, 0);
      border: 2px solid transparent;
      //transition: transform 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        border: 2px solid white;
        transform: translate(-50%, -50%) scale(1.2);
        //background-color: rgba($map-reddish-color, 0.5);
      }
    }
  }
  
  .text-under {
    position: absolute;
    transform: translate(-50%, 0);

    user-select: none;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .name {
    user-select: none;
    pointer-events: none;

    z-index: 600;
    font-family: $font-code;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    white-space: nowrap;
  }
  .type-text {
    text-align: center;
    font-family: $font-code;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 20px 0 15px 0;
    color: $map-amber-color;
  }
  .flavor-text {
    user-select: none;
    pointer-events: none;
    font-family: $font-code;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 350px;
    margin: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: $map-amber-color;
    &::before, &::after {
      content: "\"";
    }
  }
  
}