@import 'src/styles/imports.scss';

.build-a-bot-container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 2000px;
    background: #fff1dc;

    .strip {
        padding: 40px 100px;
    }

    h1, p, label {
        color: $color-background-dark;
        font-family: $font-code;
    }

    h1.main-title {
        font-family: $font-code;
        font-size: 60px;
        letter-spacing: -3px;
        text-transform: uppercase;
    }
    .subtext {

    }

    input[type=text] {
        border-radius: 0;
        background: transparent;
        border: none;
        border: 2px solid $color-background-dark;
        color: $color-background-dark;
    }
}