---
export const prerender = true

import BaseHead from "../../components/BaseHead.astro"
import { TITLE_SUFFIX } from "../../consts"
import SunsetHeader from "@/components/layout/Header/SunsetHeader.component"
import SunsetFooter from "@/components/layout/Footer/SunsetFooter.component"
import PageHeading from "@/components/page/PageHeading.component"
import {
  getAllPosts,
  getAllSecretPosts,
} from "@/utils/astroHelpers"
import CreationsView from "@/components/creations/CreationsView.component"
import ScriptsAfterBody from "@/components/ScriptsAfterBody.astro"

const posts = await getAllPosts("creation")
const SUBTEXT =
  "A collection of contributions from wonderful exhibit visitors (fans)!"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"Creations"} description={SUBTEXT} />
  </head>
  <body>
    <SunsetHeader client:only currentPage={"/creations"} />
    <main>
      <CreationsView
        title="Creations"
        subtext={SUBTEXT}
        processedPosts={posts}
        client:only="react"
      />
    </main>
    <SunsetFooter
      client:only
      currentPage={"/creations"}
      noGradient
    />

    <ScriptsAfterBody />
  </body>
</html>
