@import 'src/styles/imports.scss';

.map-location-container {
  position: absolute;


  // LOCAL MAP INDICATOR
  .local-map-indicator {
    position: absolute;
    top: 50%; left: calc(100% - 7px);
    transform: translate(0, -50%);

    color: $map-reddish-color;
    background: rgba($map-background-color, 0.8);
    border: 2px solid $map-reddish-color;

    border-radius: 999px;
    padding: 2px;

    z-index: 2000;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    svg {
      font-size: 12px;
    }
    p {
      margin: 0 5px 0 10px;
      white-space: nowrap;
      font-family: $font-code;
      color: $map-reddish-color;
    }

    &.is-detail-level {
      padding: 4px 10px 4px 10px;
      svg {
        font-size: 16px;
      }
      left: calc(100% + 15px);
    }
  }

  .type-text {
    z-index: $map-zindex-label;
    user-select: none;
    pointer-events: none;

    text-align: center;
    font-family: $font-code;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 0 0;
    white-space: nowrap;

    color: $map-amber-color;
    background: rgba($map-background-color, 0.8);

    padding: 3px 14px;

    //border-top: 2px solid rgba($map-amber-color, 1);
    //border-radius: 6px;

    &.is-detail-level {}
  }
  .flavor-text {
    z-index: $map-zindex-label;
    user-select: none;
    pointer-events: none;

    width: 400px;
    max-width: 95vw;
    margin: 20px 0 0 0;
    padding: 10px 15px;

    border-radius: 4px;
    border: 2px solid $map-amber-color;

    font-family: $font-body;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    
    text-align: center;
    transition: 0.2s ease-in-out;
    color: $map-amber-color;
    background: rgba($map-background-color, 0.7);

    font-style: italic;
    &::before {
      content: "\"";
    }
    &::after {
      content: "\"";
    }
  }
  
}